$squareSize: 1200px;

.greenGradient {
  width: $squareSize;
  height: $squareSize;
  background-image: radial-gradient(50.00% 50.00% at 50% 50%, rgba(36, 197, 42, 0.40) 0%, rgba(36, 197, 42, 0) 100%)
}
.purpleGradient {
  width: $squareSize;
  height: $squareSize;
  background-image: radial-gradient(50.00% 50.00% at 50% 50%, rgba(135.82, 36, 197, 0.15) 0%, rgba(145.48, 36, 197, 0) 100%)
}


.Background {
  position: absolute;
  z-index: -10;
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  .searchbarBack {
    @extend .greenGradient;
    position: absolute;
    top: -30rem;
    right: -10%;
  }
  .heroHeaderBack {
    @extend .purpleGradient;
    position: absolute;
    top: 20rem;
    left: -35%;
  }
  .AboutSection {
    @extend .greenGradient;
    position: absolute;
    top: 50rem;
    right: -30%;
  }
  .HowItworksPurple {
    @extend .purpleGradient;
    position: absolute;
    top: 110rem;
    left: -40%;
  }
  .HowItworksGreen {
    @extend .greenGradient;
    position: absolute;
    top: 170rem;
    right: -30%;
  }
  .ContactPurple {
    @extend .purpleGradient;
    position: absolute;
    top: 210rem;
    left: -40%;
  }
  .ContactGreen {
    @extend .greenGradient;
    position: absolute;
    top: 240rem;
    right: -30%;
  }
}