.greenGradient {
  width: 1000px;
  height: 1000px;
  background-image: radial-gradient(50.00% 50.00% at 50% 50%, rgba(36, 197, 42, 0.40) 0%, rgba(36, 197, 42, 0) 100%)
}
.purpleGradient {
  width: 1000px;
  height: 1000px;
  background-image: radial-gradient(50.00% 50.00% at 50% 50%, rgba(135.82, 36, 197, 0.40) 0%, rgba(145.48, 36, 197, 0) 100%)
}


.Background {
  position: absolute;
  z-index: -10;
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  .searchbarBack {
    @extend .greenGradient;
    position: absolute;
    top: -40%;
    right: -10%;
  }
  .heroHeaderBack {
    @extend .purpleGradient;
    position: absolute;
    top: 60%;
    left: -30%;
  }
}