$primaryGreen: #24c52a;
$primaryPurple: #8824c5;
$secondaryPurple: #dfcded;
$backgroundGraySecondary: #e1e1e1;
$backgroundGrayTertiary: #f3f3f3;

$goodGreen: #a1e8a6;
$avgOrange: #f0ff92;
$badRed: #ffa592;

.Button {
    font-family: 'Segeo UI', sans-serif;
    &:hover {
        background-color: rgba(36, 197, 42, 0.7);
        transform: scale(1.03);
        transition: color, 0.3s;
        transition: transform, 0.5s;
        cursor: pointer;
    }
}