$primaryGreen: #24C52A;
$secondaryGreen: #A1E8A6;
$secondaryPurple: #DFCDED;

.HeroHeaderContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box;
    .HeroHeader {
        box-sizing: border-box;
        display: flex;
        position: relative;
        justify-content: space-around;
        gap: 4rem;
        align-items: start;
        flex-direction: row;
        width: 100%;
        padding: 10rem 10rem;
        .DrKImageContainer {
            position: relative;
            .Logo {
                position: absolute;
                top: -20%;
                left: -30%;
                z-index: 20;
            }
        }
      .RightContent {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          width: 47rem;
          gap: 43px;
          
          .Title {
              width: 40rem;
              .textBlack, .textGreen {
                  font-size: 48px;
                  font-weight: 500;
                  line-height: 57.6px;
                  word-wrap: break-word;
                  font-family: "Poppins", sans-serif;
              }
              .textGreen {
                  color: #24C52A;
                  font-weight: 700;
              }
          }

          .Content {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              gap: 20px;
              .ResponseMessage {
                  // error div
                  width: 100%;
                  background: #F3B6B6;
                  border-radius: 10px;
                  box-sizing: border-box;
                  padding: 1.5rem;
                  font-size: 20px;
                  font-weight: 300;
                  line-height: 29px;
                  color: #a50c0c;
                  font-family: 'Segeo UI', sans-serif;
              }
              .searchDescription {
                  margin-bottom: -20px;
                  font-size: 17px;
                  font-weight: 300;
                  line-height: 29px;
                  color: $primaryGreen;
                  opacity: 0.8;
                  font-family: 'Segeo UI', sans-serif;
              }
              .PlaceholderRectContainer {
                display: flex;
                flex-direction: column;
                margin-left: 7rem;
                gap: 20px;
              }
              .SearchBarContainer {
                position: relative;
                display: flex;
                flex: row;
                width: 100%;
                .SearchBar {
                    box-sizing: border-box;
                    width: 91%;
                    border-radius: 25px;
                    border: 4px solid #24C52A;
                    padding: 5px 11px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 10px;
                    background: white;
                    .input {
                        width: 100%;
                        border: none;
                        font-size: 20px;
                        font-weight: 500;
                        line-height: 29px;
                        color: #000000;
                        outline: none;
                    }
                }
                .SearchButton {
                    box-sizing: border-box;
                    width: 4.8rem;
                    margin-left: 1rem;
                    border-radius: 20px;
                    padding-left: 0.7rem;
                    padding-right: 0.7rem;
                    border: solid 0px #24C52A;
                    background-color: rgba(36, 197, 42, .4);
                    &:hover {
                        background-color: rgba(36, 197, 42, 1);
                        transition: color, 0.3s;
                        cursor: pointer;
                    }
                }
              }
              .RatingButton {
                  margin-top: 4rem;
                  margin-left: 12rem;
                  display: flex;
                  flex-direction: row;
                  justify-content: space-between;
                  align-items: center;
                  gap: 1rem;
                  padding: 1rem;
                  box-sizing: border-box;
                  background-color: #e4e5e9;
                  border-radius: 10px;
                  h4 {
                      font-size: 16px;
                      font-weight: 300;
                      line-height: 29px;
                      color: #686868; //686868
                      font-family: 'Segeo UI', sans-serif;
                  }
              }
              .IndentContainer {
                display: flex;
                flex-direction: column;
                padding-left: 5rem;
                gap: 20px;
                .WelcomeText {
                    font-size: 20px;
                    font-family: 'Segeo UI', sans-serif;
                    font-weight: 500;
                    line-height: 28.8px;
                    color: #000000;
                }
                .Actions {
                    display: flex;
                    gap: 10px;
                    .Donate {
                      @extend .Button;
                      padding: 10px 40px;
                      background: $secondaryGreen;
                      &:hover {
                          background-color: rgba(36, 197, 42, 0.4);
                      }
                    }
                    .ShareFeedback {
                        @extend .Button;
                        padding: 10px;
                        border: 1px solid $primaryGreen;
                        background: rgba(255, 255, 255, 0);
                    }
                }
              }
          }
      }
    }
}

.Button {
    font-family: 'Segeo UI', sans-serif;
    &:hover {
        background-color: rgba(36, 197, 42, 1);
        transition: color, 0.3s;
        cursor: pointer;
    }
}

@media (max-width: 1280px) {
    .HeroHeaderContainer {
        .HeroHeader {
            .DrKImageContainer {
                img {
                    width: 20rem;
                }
                .Logo {
                  svg {
                      width: 12rem;
                  }
                }
            }
          .RightContent {
              .Title {
                  width: 27rem;
                  .textBlack, .textGreen {
                      line-height: 35px;
                      font-size: 30px;
                  }
                  .textGreen {
                  }
              }

              .Content {
                  .ResponseMessage {
                      padding: 1rem;
                      font-size: 16px;
                  }
                  .searchDescription {
                  }
                  .PlaceholderRectContainer {
                  }
                  .SearchBarContainer {
                    .SearchBar {
                        border-width: 3px;
                        .input {
                            font-size: 16px;
                            line-height: 29px;
                        }
                    }
                    .SearchButton {
                    }
                  }
                  .RatingButton {
                      h4 {
                      }
                  }
                  .IndentContainer {
                    .WelcomeText {
                        line-height: 20px;
                        font-size: 16px;
                    }
                    .Actions {
                        .Donate {
                        }
                        .ShareFeedback {
                        }
                    }
                  }
              }
          }
        }
    }
}

@media (max-width: 1006px) {
    .HeroHeaderContainer {
        .HeroHeader {
            flex-direction: column;
            padding: 4rem;
            gap: 2rem;
            .DrKImageContainer {
                img {
                    width: 14rem;
                }
                .Logo {
                  svg {
                      height: 10rem;
                      width: 10rem;
                  }
                }
            }
          .RightContent {
              width: 100%;
              gap: 1rem;
              .Title {
                  width: 27rem;
                  .textBlack, .textGreen {
                      line-height: 40px;
                      font-size: 35px;
                  }
                  .textGreen {
                  }
              }

              .Content {
                  .ResponseMessage {
                      padding: 1rem;
                      font-size: 16px;
                  }
                  .searchDescription {
                  }
                  .PlaceholderRectContainer {
                  }
                  .SearchBarContainer {
                    .SearchBar {
                        border-width: 3px;
                        .input {
                            font-size: 16px;
                            line-height: 29px;
                        }
                    }
                    .SearchButton {
                    }
                  }
                  .RatingButton {
                      h4 {
                      }
                  }
                  .IndentContainer {
                    .WelcomeText {
                        font-size: 16px;
                        line-height: 20px;
                    }
                    .Actions {
                        .Donate {
                        }
                        .ShareFeedback {
                        }
                    }
                  }
              }
          }
        }
    }
}



@media (max-width: 560px) {
    .HeroHeaderContainer {
        .HeroHeader {
            flex-direction: column;
            padding: 1rem;
            gap: 2rem;
            .DrKImageContainer {
                margin-left: auto;
                margin-right: auto;
                img {
                    width: 14rem;
                }
                .Logo {
                  svg {
                      height: 10rem;
                      width: 10rem;
                  }
                }
            }
          .RightContent {
              width: 100%;
              gap: 1rem;
              .Title {
                  width: 20rem;
                  .textBlack, .textGreen {
                      line-height: 35px;
                      font-size: 30px;
                  }
                  .textGreen {
                  }
              }

              .Content {
                  .ResponseMessage {
                      padding: 1rem;
                      font-size: 16px;
                  }
                  .searchDescription {
                      font-size: 12px;
                  }
                  .PlaceholderRectContainer {
                  }
                  .SearchBarContainer {
                    .SearchBar {
                        border-width: 2px;
                        width: 100%;
                        .input {
                            font-size: 16px;
                            line-height: 29px;
                        }
                    }
                    .SearchButton {
                        display: none;
                    }
                  }
                  .RatingButton {
                      h4 {
                      }
                  }
                  .IndentContainer {
                    padding: 1rem;
                    .WelcomeText {
                        font-size: 16px;
                        line-height: 20px;
                    }
                    .Actions {
                        .Donate {
                        }
                        .ShareFeedback {
                        }
                    }
                  }
              }
          }
        }
    }
}