.HeroHeaderContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.HeroHeader {
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 132px;
    width: 1292px;
    padding: 5% 10%;
    .PurpleBlur, .GreenBlur {
        width: 1077px;
        height: 832px;
        border-radius: 50%;
        position: absolute;
        background: radial-gradient(circle at center, rgba(135.82, 36, 197, 0.40) 0%, rgba(145.48, 36, 197, 0) 100%);
    }
    .GreenBlur {
        background: radial-gradient(circle at center, rgba(36, 197, 42, 0.40) 0%, rgba(36, 197, 42, 0) 100%);
    }
}

.DrKImageContainer {
    position: relative;
    width: 30%;
    height: 30rem;
    .Image7 {
        z-index: -10;
        position: absolute;
    }
    .Logo {
        position: absolute;
        top: -20%;
        left: -30%;
        z-index: 20;
    }
}

.RightContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 43px;
    width: 40rem;
    
    .UnofficialHealthyGamerGgSearchEngine {
        width: 35rem;
        .text-black, .text-green {
            font-size: 48px;
            font-weight: 500;
            line-height: 57.6px;
            word-wrap: break-word;
        }
        .text-green {
            color: #24C52A;
            font-weight: 700;
        }
    }

    .Frame13 {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 40px;
        .SearchBarContainer {
          position: relative;
          display: flex;
          flex: row;
          width: 100%;
          .SearchBar {
              box-sizing: border-box;
              width: 80%;
              border-radius: 25px;
              border: 4px solid #24C52A;
              padding: 11px;
              padding-left: 4rem;
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              gap: 10px;
              background: white;
          }
          .search-button {
              width: 20%;
              background-color: rgba(36, 197, 42, .4);
          }
        }
        .indent-container {
          display: flex;
          flex-direction: column;
          padding-left: 4rem;
          gap: 20px;
          .Actions {
              display: flex;
              gap: 10px;
              .Donate, .ShareFeedback {
                  padding: 10px;
                  border: 1px solid #24C52A;
                  background: rgba(255, 255, 255, 0);
              }
          }
        }
    }

}
