.star-rating {
  display: flex;
  flex-direction: row;
}

.star-rating input {
  display: none;
}

.star {
  cursor: pointer;
  transition: color 200ms;
}

.star:hover {
  transform: scale(1.1);
  transition: transform 200ms;
}
