$primaryGreen: #24c52a;
$primaryPurple: #8824c5;
$secondaryPurple: #dfcded;
$backgroundGraySecondary: #e1e1e1;
$backgroundGrayTertiary: #f3f3f3;

$goodGreen: #a1e8a6;
$avgOrange: #f0ff92;
$badRed: #ffa592;
@import "../Button.module.scss";

.HowItWorksSection {
  width: 100%;
  box-sizing: border-box;
  padding: 6% 20%;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 56px;

  .FirstElementWithTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    position: relative;

    .UnderlineColorGreen {
      width: 218px;
      height: 47px;
      z-index: -10;
      position: absolute;
      left: 380px;
      top: 32px;
      background: rgba(36, 197, 42, 0.40);
      border-radius: 8px;
    }

    .SectionTitle {
      width: 100%;
      text-align: center;
      color: black;
      font-size: 64px;
      font-family: 'Poppins', sans-serif;
      font-weight: 500;
      line-height: 64px;
      word-wrap: break-word;
    }
  }

  .Element {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    gap: 52px;

    .Icon {
      width: 20%;
    }

    .Container {
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 18px;
      width: 80%;

      .Title {
        color: black;
        font-size: 24px;
        font-family: 'Segoe UI';
        font-weight: 700;
        line-height: 28.8px;
        word-wrap: break-word;
      }

      .ContentContainer {
        display: inline-flex;
        padding-left: 30px;
        padding-right: 30px;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;
        width: 100%;
        box-sizing: border-box;

        .Content {
          color: black;
          font-size: 16px;
          font-family: 'Segoe UI';
          font-weight: 400;
          line-height: 19.2px;
          word-wrap: break-word;
        }
      }
    }
  }


  .Actions {
    display: inline-flex;
    padding-left: 193px;
    padding-right: 193px;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 23px;

    .DonateButton {
      @extend .Button;
      display: flex;
      padding-left: 42px;
      padding-right: 42px;
      padding-top: 11px;
      padding-bottom: 11px;
      background: rgba(36, 197, 42, 0.40);
      justify-content: flex-start;
      align-items: flex-start;
      gap: 10px;

      .Donate {
        color: black;
        font-size: 15px;
        font-family: 'Inter';
        font-weight: 400;
        word-wrap: break-word;
      }
    }

    .LoginButton {
      @extend .Button;
      display: flex;
      padding-left: 40px;
      padding-right: 40px;
      padding-top: 13px;
      padding-bottom: 13px;
      background: rgba(255, 255, 255, 0);
      border: 1px #24C52A solid;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 10px;

      .Login {
        width: 43px;
        height: 13px;
        color: black;
        font-size: 15px;
        font-weight: 400;
        word-wrap: break-word;
      }
    }
  }
}

@media (max-width: 1280px) {
  .HowItWorksSection {
    padding: 6% 10%;
    .FirstElementWithTitle {
      .UnderlineColorGreen {}
      .SectionTitle {}
    }
    .Element {
      .Icon {
        svg {
          width: 7rem;
        }
      }
      .Container {
        .Title {}
        .ContentContainer {
          .Content {}
        }
      }
    }
    .Actions {
      .DonateButton {
        .Donate {}
      }
      .LoginButton {
        .Login {}
      }
    }
  }
}
@media (max-width: 850px) {
  .HowItWorksSection {
    padding: 6% 10%;
    .FirstElementWithTitle {
      .UnderlineColorGreen {}
      .SectionTitle {}
      .Element {
        .AiCloudLogo {
          .Vector {}
          .Vector2136 {}
        }
        .Container {
          .Title {}
          .ContentContainer {
            .Content {}
          }
        }
      }
    }
    .Actions {
      .DonateButton {
        .Donate {}
      }
      .LoginButton {
        .Login {}
      }
    }
  }
}
@media (max-width: 590px) {
  .HowItWorksSection {
    padding: 6% 6%;
    .FirstElementWithTitle {
      .UnderlineColorGreen {}
      .SectionTitle {}
    }
    .Element {
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      .Icon {
        height: 8rem;
        svg {
          
        }
      }
      .Container {
        width: 100%;
        .Title {}
        .ContentContainer {
          .Content {}
        }
      }
    }
    .Actions {
      .DonateButton {
        .Donate {}
      }
      .LoginButton {
        .Login {}
      }
    }
  }
}
